/* shared */
/* css for individual pages is organized alphabetically below */
body {
    background-color: #FFFAF2;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 1;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    position: relative;
    width: auto;
    z-index: 1;
}

nav img {
    height: 5rem;
    width: auto;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.orange-button {
    align-items: center;
    background-color: #FCC7B0;
    border-radius: 5px;
    border: 0;
    display: flex;
    height: 2rem;
    margin: 0 1rem;
    padding: 0 1rem;
}

nav a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    justify-content: right;
    padding: 0;
    position: relative;
    text-decoration: none;
}

nav a h1 {
    color: #5B7558;
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;
    justify-content: left;
}

nav h3 {
    color: #111734;
    font-size: 16px;
    margin: 1rem 1.5rem;
}

.right-nav {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

h1 {
    color: #111734;
    font-family: 'Abhaya Libre', serif;
    font-size: 45px;
}

h2 {
    color: #111734;
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
}

p {
    color: #111734;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

footer {
    background-color: #111734;
    bottom: 0;
    color: #FFFAF2;
    height: 3rem;
    left: 0;
    position: fixed;
    width: 100%;
}

footer p {
    color: #FFFAF2;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 1rem;
}

/* App.jsx */
.quiz-button {
    background-color: #5B7558;
    border-radius: 5px;
    border: 0;
    color: #FFFAF2;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding: 0 10rem;
}

.quiz-button-div {
    margin: 1rem auto;
    text-decoration: none;
    width: auto;
}

#home-text {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 50%;
}

#home-footer {
    background-color: #111734;
    bottom: 0;
    color: #FFFAF2;
    height: 8rem;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 0;
}

/* about-quiz.jsx */

/* date-quiz.jsx */

/* event-calendar.jsx */
/* uses react-calendar template */
/* TODO: add functionality, styling */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* journal.jsx */
.journal-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journal-text {
    display: flex;
    flex-direction: column;
}

.journal-box {
    margin: 1rem;
    width: 70vw;
    background-color: #FFFAF2;
    border-radius: 5px;
}

/* login.jsx */
#signup-login {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#signup-login h1 {
    color: #FFFAF2;
    margin-left: 3rem;
}

#signup-box {
    background-color: #111734;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 5rem);
    width: 60%;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.green-button {
    align-items: center;
    background-color: #5B7558;
    border-radius: 5px;
    border: 0;
    color: #FFFAF2;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 2rem;
    margin: 0 1rem;
    padding: 0 1rem;
    width: fit-content;
}

.blue-button {
    align-items: center;
    background-color: #373B76;
    border-radius: 5px;
    border: 0;
    color: #FFFAF2;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 2rem;
    margin: 0 1rem;
    padding: 0 1rem;
    width: fit-content;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 4rem;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFFAF2;
}

input {
    background-color: #111734;
    border-radius: 20px;
    border: 1px solid #FFFAF2;
    color: #FFFAF2;
    height: 2rem;
    margin-top: 1em;
    margin-bottom: 1rem;
}

/* profile.jsx */
.small-long-button {
    background-color: #373B76;
    border-radius: 5px;
    border: 0;
    color: #FFFAF2;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    width: 55%;
}

.small-long-button-div {
    display: flex;
    justify-content: center;
}

#profile-content {
    /* TODO */
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.progress-content {
    /* TODO */
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}